// grid system 
.grid {
	display: grid;
	grid-gap: $gutters*2;
	gap: $gutters*2;
	grid-template-columns: repeat($total-columns, 1fr);
	align-items: start;
}

.column {
	$i: 1;
	@while $i <= $total-columns {
		&_#{$i} {
			grid-column: span $i;
		}

		$i: $i + 1;
   }
}