.link {

	text-decoration: none;

	&_style-default {
		font-size: 1em;
		line-height: 1.5em;
		color: $link-color;
		font-weight: 700;

		&:hover {
			color: darken($link-color, 10%);
		}
	}

	&_full {
		display: block;
	}
}

.pointer-cursor {
	cursor: pointer; 
	cursor: hand;
}