@mixin style-positioning() {
	list-style-position: outside;
	padding-left: 1.125em;
}

.list {
	list-style: none;
	line-height: 1.5em;

	> *:not(:last-child) {
		margin-bottom: rhythm(1);
	}

	& .list {
		margin-top: rhythm(1);
	}
	
	&_vertical-dense {
		> *:not(:last-child) {
			margin-bottom: rhythm(0.5);
		}

		& .list {
			margin-top: rhythm(0.5);
		}
	}

	&_style {
		// ordered list styles
		&-decimal {
			list-style-type: decimal;
			@include style-positioning();
		}
		&-lower-roman {
			list-style-type: lower-roman;
			@include style-positioning();
		}
		&-upper-roman {
			list-style-type: upper-roman;
			@include style-positioning();
		}
		&-lower-alpha {
			list-style-type: lower-alpha;
			@include style-positioning();
		}
		&-upper-alpha {
			list-style-type: upper-alpha;
			@include style-positioning();
		}

		// unordered list styles
		&-disc {
			list-style-type: disc;
			@include style-positioning();
		}
		&-circle {
			list-style-type: circle;
			@include style-positioning();
		}
		&-square {
			list-style-type: square;
			@include style-positioning();
		}
	}
}