header {
	position: relative;
	z-index: 5;
	box-shadow: 0px 1px 4px 1px rgba(51,51,51,1);

	.title {
		text-align: center;
		font-family: $font-headings;
		font-size: 2em;
		font-weight: 700;
		text-transform: uppercase;
		background-color: #073326;
		color: #abf4de;
		padding: .5em;
	}		

	.imageDemo{
		position: relative;
		width: 100%;
		height: 100px;
		background: url(#{$IMG_PATH} + "img02.jpg") center center/cover no-repeat;
	}
}