.container {
	display: grid;
	grid-template-columns: auto 1fr;
	box-shadow: 0px 0px 4px 1px rgba(51,51,51,1);

	.sidebar {
		width: 14em;
		background-color: #dcecec;

		.nav {
			list-style: none;
			line-height: 1.5em;
			
			li:not(:last-child) {
				margin-bottom: rhythm(1);
			}
		}
	}
}

.code-examples {
	@include auto-grid(1fr);

	@media (min-width: 800px ) {
		@include auto-grid(480px);
		row-gap: $gutters;
	}

	align-items: start;
	row-gap: $gutters;

	&__span {
		grid-column: 1 / -1;
	}

	> .paragraph {
		margin-bottom: 0;
	}

	> [class*="heading"] {
		margin-bottom: 0;
	}
}