// ====================================
// paths
$IMG_PATH: "//leerburg.com/nitro2.0/img/";

// ====================================
// colors
$default-text-color: #d0e7e1; 
$link-color: #df7e00; 

// ====================================
// background and layout

$body-background: #333333;
$content-background: #101010;

$max-body-width: 72em;
$total-columns: 12;

// ====================================
// typography

// get google fonts
$google-fonts: "Open+Sans:400,700|Barlow+Semi+Condensed:400,700|Raleway:400,400i,700,700i|Ubuntu+Mono:400,400i";

// set fonts
$font-headings: 'Barlow Semi Condensed', sans-serif;
$font-body: 'Raleway', sans-serif;
$font-mono: 'Ubuntu Mono', monospace;

// font settings

// requires modual scale 3rd party library
$modularscale: (
  base: 1em,
  ratio: 1.25
);

// typically 1em when site is based on 1em = 16px
$standard-text-size: 1em;

// height of body font when font-size = 16px
// value used to properly align icons, and for vertical rhythm
$standard-text-height: 19px;
$gutters: $standard-text-height / 16px * 1em;

// ===============================
// table colors

$table-caption-bg: orange;
$table-caption-color: white;

$table-header-bg: #ffffff; 
$table-header-color: #75583f; 

$table-row-even: #fae6c1; 
$table-row-odd: #e0c289; 

$table-dull: #585551;
$table-emphasize: #df9b35;

$table-heading-border: 1px solid #bea792;  
$table-cell-border: 1px dashed #aa9266;  