@import '../theme/main';
@import '../../framework/mixins/bootstrap';

// grid demo
.grid_demo {
	@include vertical-rhythm-bottom(1);

	@media (max-width: 1180px) {
		grid-template-columns: repeat(2, 1fr);

		.column_9,
		.column_10 {
			grid-column: span 2;
		}
		.column_6,
		.column_2,
		.column_3 {
			grid-column: span 1;
		}
	}

	@media (max-width: 800px) {
		grid-template-columns: 1fr;

		.column_9,
		.column_10 {
			grid-column: span 1;
		}
	}
}

.demoCol {
	border: 1px solid #cccccc;
	background-color: rgba(234,234,234,.5);
	padding: .5em;
}

.grid_complex-demo {
	grid-auto-rows: 1fr auto 1fr;
	@include vertical-rhythm-bottom(1);

	&__heading {
		margin-top: 0;
	}

	@media (max-width: 1150px) {
		grid-template-columns: repeat(3, 1fr);
		
		.column_4 {
			grid-column: span 1;
		}
		.column_8 {
			grid-column: span 2;
		}
	}

	@media (max-width: 1000px) {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
		
		.column_8 {
			grid-column: span 1;
		}

		.demoChart {
			grid-column: 2;
			grid-row: 2 / span 2;
		}
	}

	@media (max-width: 800px) {
		grid-template-columns: 1fr;

		.demoChart {
			grid-column: 1;
			grid-row: span 1;
		}
	}
}

.demoObj{
	min-height: $gutters*2;
	height: 100%;
	background-color: #cccccc;
	border: 4px solid #aaa;
}

.demoChart{
	align-self: center;
	width: 10em;
	height: 10em;
	border-radius: 10em;
	background-color: #eaeaea;
	border: 1px solid #cccccc;
	margin: 1em auto 0;
}