@import '../theme/main';
@import '../../framework/mixins/bootstrap';

.page-icon {

   &__list-preceder {
      margin-bottom: 0;
   }

   &__lists {
      display: grid;
      grid-gap: 1.5em;
      gap: 1.5em;
      grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
   }

   &__list-heading {
      grid-column: 1 / -1;
      margin-bottom: 0;
   }

   &__pairs {
      display: flex;
      gap: .5em;
      align-items: center;
   }

   &__icons {
      width: 1.5em;
      height: 1.5em;

      &--horizontal {
         width: 1.75em;
         height: 1.5em;
      }
   }
}