@import '../../vendors/bootstrap';
@import '../theme/main';
@import '../../framework/mixins/bootstrap';

.scroll-example {
	background-color: #eaeaea;
	border: 1px solid #cccccc;

	&__content { 
      padding: $gutters;
		font-size: ms(-1); 
	}
}