@mixin table--mobile($width: 5rem)
{
	.table__header {
		display: none;
	}

	// for themes with borders
	.table__body:nth-child(3) {
		.table__row:first-child {
			.table__cell:first-child {
				border-top: none;
			}
		}
	}

	.table__cell {
		display: grid;
		grid-template-columns: $width 1fr;
		padding: 0;

		// for themes with borders
		&:not(:last-child) {
			border-bottom: none;
		}
	}

	// mobile element adjustments
	.mobile-table__cell-label {
		display: block;
	}

	.mobile-table__cell-content {
		grid-column: 2;
		padding: $gutters/2 $gutters/2;
	}
}