@mixin basic-tabs--mobile() {
	display: block;
	border-bottom: none;

	.basic-tabs__list-item {
		margin-right: 0;
	}
	.basic-tabs__tab {
		border-radius: 0;
		white-space: normal;
	}
}

@mixin folder-tabs--mobile() {
	flex-wrap: wrap;
	border-bottom: none;

	.folder-tabs__list-item {
		margin-right: 0;
	}

	.folder-tabs__tab {
		text-align: left;
		white-space: normal;
		padding-right: 1em;

		&:after {
			border: none;
		}
	}
}

@mixin joined-tabs--mobile($border: .1em solid rgba(0,0,00,.5)) {
	display: block;
	border: $border;

	.joined-tabs__list-item {
		border-radius: 0;
		border: none;

		&:not(:last-child) {
			border-bottom: $border;
		}
	}

	.joined-tabs__tab {
		border-radius: 0;
		white-space: normal;
		text-align: left;
	}
}