input.parsley-success,
select.parsley-success,
textarea.parsley-success {
	//color: #468847;
	//background: #d8e8cb;
	//border: 1px solid #a2bb8e;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
	color: #B94A48;
	background: #ffd9d9;
	border: 1px solid #f7a9a9;

	&:focus{
		outline: none !important;
    	border-color: #c34343;
	}
}

.parsley-errors-list {
	list-style: none;
	margin-top: .125em;	
	opacity: 0;

	transition: all .3s ease-in;

	li {
		font-size: $standard-text-size * .9;
		line-height: 1.5em;
		font-style: italic;
		color:#666666;
	}	
}

.parsley-errors-list.filled {
	opacity: 1;
}

// for the dedicated element in the case of radio and checkboxes
.alt-errors {
	margin-top: .375em;
	
	ul {
		background-color: #ffd9d9;
		
		li {
			color: #712929;
			padding: .125em .25em;
		}
	}
}