.read-more {

	&__content {
		overflow: hidden;
		position: relative;
	}

	&__fade{
		display: none;
		position: absolute; 
		bottom: 0; 
		left: 0;
		width: 100%;
		height: rhythm(2);
		background: rgba(255,255,255,0);
		background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
	}
	
	&__button-wrapper {
		display: none;
		margin-top: rhythm(1);

		&_style-line{
			padding-top: rhythm(1);
			border-top: 1px solid #D0C9C9;
		}
	}
}